.InstanceList {
  margin: 20px;
  padding: 20px;
}

/* Instance Table Format */
#InstanceTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#InstanceTable td, #InstanceTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#InstanceTable tr:nth-child(even){background-color: #f2f2f2;}
#InstanceTable tr:hover {background-color: #ddd;}
#InstanceTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}