.InstanceList {
  margin: 20px;
  padding: 20px;
}

/* Instance Table Format */
#InstanceTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#InstanceTable td, #InstanceTable th {
    border: 1px solid #C6C7CA;
	padding-left: 10px;
}
#InstanceTable tr:nth-child(odd){
	background-color: #E8EBF1;
}
#InstanceTable tr:hover {
	background-color: #C6C7CA;
}
#InstanceTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #049FD9;
    color: white;
}